# Dependencies
node_modules/
package-lock.json

# Screenshots
public/screenshots/*.jpg
public/screenshots/*.png

# Environment variables
.env
.env.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db
.claude
dist/

# Docs
docs/
CLAUDE.md
resources/

# Logs
error.log
Garlic Player API Client Setup 1.0.0.exe
nul
